.drp-b_root.dropdown-opened .drp-b_dropdown {
  display: block;
}
.drp-b_root .drp-b_dropdown {
  display: none;
}
.drp-b_switcher-cols-col-left {
  display: inline-block;
  vertical-align: top;
}
.drp-b_switcher-cols-col-right {
  display: inline-block;
  vertical-align: top;
}

